.flixstack-wrapper {
  float: left;
  width: 100%;
  clear: both;
  margin-top: 4px;
  padding-bottom:2px;
}

.flixstack-wrapper a {
  display: block;
  height: 18px;
  padding: 2px 0 0 0;
  font-size: 12px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  text-align:center;
  color:#fafafa!important;  /* Adding !important for now so I don't have to create a separate CSS rule to handle all of Netflix's ID-based styling. */
}

.flixstack-wrapper .add {
  width: 169px;
  margin: 0 auto;
  background: url(http://flixqueue.local/sites/flixstack.com/themes/flixstack/images/button-blue-long.png) no-repeat;
}

.flixstack-wrapper .watched {
  float:left;
  width: 80px;
  margin-right: 10px;
  margin-left: 10px;
  background: url(http://flixqueue.local/sites/flixstack.com/themes/flixstack/images/button-green-short.png) no-repeat;
}

.recentlyWatched .flixstack-wrapper .watched {
  margin-left:0;
}

.flixstack-wrapper .remove {
  float:left;
  width: 80px;
  background: url(http://flixqueue.local/sites/flixstack.com/themes/flixstack/images/button-red-short.png) no-repeat;
}

/**
 * Video Details page overrides
 */
 #displaypage-overview-image .flixstack-wrapper .watched {
  margin-left:0;
}

#displaypage-overview-image .flixstack-wrapper .add {
  margin-left: 0;
  margin-right: 0;
}