body {
  width: 320px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 300;
  margin: 0;
  color: #0D0D0D;
}

/**
 * Header
 */
header {
  background: #f5f5f5;
  border-bottom: #d5d5d5 1px solid;
  padding-top: 10px;
  padding-bottom: 10px;
}

header .title {
  background: url(../images/header-logo.png) no-repeat;
  height: 60px;
  padding-top: 14px;
  padding-left: 80px;
  margin: 0;
  font-size: 28px;

}

.loading {
  text-align: center;
}

.messages {
  background: #fdd;
  border: 1px dotted #c99;
  margin-top: 10px;
  margin-bottom: 0;
  padding: 8px;
  list-style: none;
}

.messages.info {
  background: #dfd;
  border-color: #9c9;
}

.messages.error {
  background: #fdd;
  border-color: #c99;
}

.messages.mixed {
    background: #fffbcd;
    border-color: #ffea00;
}

/**
 * Footer
 */
footer a {
  color: #0379b5;
}

footer .login-links {
  font-size: 0.8em;
}

/**
 * Container
 */
.panel-container {
  padding-bottom: 10px;
}

/**
 * Form
 */
.form-item {
  padding-bottom:10px;
  border-bottom: 1px #d9d9d9 dotted;
  margin-bottom:10px;
}

.form-item label {
  padding-top: 8px;
}

.form-item input {
  font-size: 1.2em;
}

.submit {
  text-align: right;
  margin-bottom: 0;
  padding-bottom: 0;
  border-bottom: 0;
}

.button,
.submit input {
  background: url(../images/button-blue-tall.png) no-repeat;
  font-size: 1.2em;
  width: 123px;
  height:38px;
  border: none;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
}

.button {
  text-decoration: none;
  text-align: center;
}

/**
 * Registration / Login form
 */
#login-form,
#registration-form,
#reset-password-form {
  padding-top: 10px;
}

/**
 * Password-reset form
 */
#reset-password-submit {
  font-size: 0.8em;
}

/**
 * Movies to watch
 */
.logged-in.panel-container {
  padding-bottom: 0;
}

.flixstack-list {
  max-height: 420px;
  overflow:scroll;
}

.flixstack-list ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

.flixstack-list li {
  border-bottom: 1px #d5d5d5 dotted;
  padding-top:10px;
}

.flixstack-list .odd {
  background: #f1f5f8;
}

.flixstack-list a {
  display:block;
  color: #080808;
}

.flixstack-list li .movie-entry {
  margin-bottom:10px;
}

.flixstack-list li .boxart img {
  width: 48px;
  padding: 4px;
  border: solid 1px #ddf;
  background: #fff;
}

.flixstack-list li .movie-title {
  font-size: 1.2em;
  margin-top: 24px;
}

.flixstack-list li .movie-title:hover {
  text-decoration:underline;
}

.flixstack-list li .shelf-toggle {
  padding-top: 28px;
}

.find-more-movies {
  margin-top:10px;
  margin-bottom: 10px;
}

.find-more-movies a {
  display:block;
  padding-left:66px;
  height:36px;
  background: url(../images/magnifying-glass.png) no-repeat;
  color: #080808;
  font-size: 1.2em;
  padding-top: 12px;
  text-decoration:none;
}

.shelf {
  background: url(../images/drawer-top-arrow-left.png) no-repeat;
  padding-top: 14px;
}

.shelf a {
  color: #ffffff;
  text-decoration: none;
}

.shelf .content {
  background: url(../images/drawer-bg.png) no-repeat;
  height:40px;
  padding-top: 8px;
}

.shelf .content .remove {
  text-align: right;
}

.settings-toggle {
  font-size: 0.8em;
  color: #080808;
  background: url(../images/settings-icon.png) no-repeat;
  min-height:30px;
  padding-top:4px;
  padding-left:20px;
  margin-bottom:4px;
  text-align:right;
}

.flixstack-settings .shelf {
  background-image: none;
  margin-bottom: 0;
  padding-top: 0;
}

.flixstack-settings .shelf a {
  text-decoration:underline;
}

.flixstack-settings .shelf .content {
  padding-top:6px;
  padding-bottom:4px;
  height:20px;
}

.flixstack-settings {
  padding-bottom: 0;
  color: #ffffff;
  font-size:12px;
}

.flixstack-settings .leave-feedback {
  text-align: center;
}

.flixstack-settings .logout {
  text-align: right;
}
