.flixstack-wrapper {
  float: left;
  width: 100%;
  clear: both;
  margin-top: 4px;
}

.flixstack-wrapper a {
  border-radius: 8px;
  border: 1px rgb(0, 56, 117) solid;
  padding: 2px 8px;
  margin-top: 4px;
  background: rgb(0, 56, 117);
  color: #ffffff;
}

.flixstack-wrapper a.remove {
  border-color: #B9090B;
  background: #B9090B;
}
